@import "./styles/reset"; // Retire tout style par défaut des navigateurs
@import "./styles/base"; // Ajuste le style général
@import "./styles/grille"; // Style de la grille de Sudoku
@import "./styles/ecran"; // Style de l'ecran de jeu

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal{
  border: 0.1rem solid white;
  min-width: 25vw;
  min-height: 100vh;
  &__titre{
    color: green;
  }
}
