@import "./styles/reset"; // Retire tout style par défaut des navigateurs
@import "./styles/base"; // Ajuste le style général

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal{
  &__titre{
    color: green;
  }
}
.ecran{
  &__test{
    color: wheat;
  }
}